.DS_Store
data
data/AnimeGAN_data/src_data/*
data/AnimeGAN_data/target_datasets/*/*
data/AnimeGAN_data/paired_targets/*/*
data/AnimeGAN_data/src_processed/train/*
data/AnimeGAN_data/src_processed/test/*
data/img_datasets/src_img/*
data/img_datasets/target_img_datasets/*
data/videos/other/*
data/videos/src/*
data/videos/tgts/*
data/videos/src_scenes/*
data/videos/tgts/*
data/videos/tgts_scenes/*/*
data/img_datasets/src_img_CartoonGAN/*
data/img_datasets/target_img_datasets_CartoonGAN/*
__pycache__
